<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>SR NO</th>
            <th>ACTION</th>
            <th>VIEW</th>
            <th>STATUS</th>
            <th>NO OF DAYS PENDING</th>
            <th>EOT NO</th>
            <th>Detailed Proposed Doc</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>ACTION</td>
            <td>VIEW</td>
            <td>Approved</td>
            <td>12</td>
            <td>NHAI/0001</td>
            <td>download</td>
        </tr>
   </tbody>
    <tfoot>
        <tr>
            <th>SR NO</th>
            <th>ACTION</th>
            <th>VIEW</th>
            <th>STATUS</th>
            <th>NO OF DAYS PENDING</th>
            <th>EOT NO</th>
            <th>Detailed Proposed Doc</th>
        </tr>
    </tfoot>
</table>
<script>
    new DataTable('#example');

</script>