<style>
    .formDiv {
        border: 4px solid black;
        padding: 20px;
        margin: 20px;
        min-height: 500px;
        border-radius: 50px;
    }

    .ifNoticegiven, .ifapplicableforcost {
        display: none;
    }

    .invalid {
        color: red;
        /*display:none;*/
    }

    .eotDueToOtherReasonDiv {
        display: none;
    }
</style>

<div>
    <div class="formDiv">
        <center> <h2>Extension Of Time - DPR Consultant</h2></center>
        <hr />
        <br />
        <div class="container text-center">
            <form>
                @* Below div is defines Brief Reason for EOT label and textarea *@
                <div class="row mb-4">
                    <div class="col text-start">
                        <label for="briefReasonLabel" class="text-left">
                            Brief Reason for EOT
                        </label>
                    </div>
                    <div class="col-10 text-start">
                        <textarea class="form-control" rows=2 id="briefReason"></textarea>
                        <span class="text-start" id="briefReason_Error"></span>
                    </div>
                </div>

                @* below div represents  labels for
                    EOT Claiming on whose default
                    EOT Due To --- >  Others ----> reason for choosing others
                    EOT claiming for Stage
                    Last DPR Deliverable *@
                <div class="row mb-1">
                    <div class="col align-content-md-end text-start">
                        <label for="briefReason" class="form-label text-left">
                            EOT Claiming on whose default
                        </label>
                    </div>
                    <div class="col align-content-md-end text-start">
                        <label for="briefReason" class="form-label text-left">
                            EOT Due To
                        </label>
                    </div>
                    <div class="eotDueToOtherReasonDiv col align-content-md-end text-start">
                        <label for="briefReason" class="form-label text-left">
                            Enter Other Reason
                        </label>
                    </div>
                    <div class="col align-content-md-end text-start">
                        <label for="briefReason" class="form-label text-left">
                            EOT claiming for Stage
                        </label>
                    </div>
                    <div class="col align-content-md-end text-start">
                        <label for="briefReason" class="form-label text-left">
                            Last DPR Deliverable
                        </label>
                    </div>
                </div>

                @* below div represents select tag  view icon and download icon
                    EOT Claiming on whose default
                    EOT Due To --- >  Others ----> reason for choosing others
                    EOT claiming for Stage
                    Last DPR Deliverable *@

                <div class="row mb-3">
                    <div class="col text-start">
                        <select class="form-select" id="whoseDefault">
                            <option selected value="0">Select Claiming Default</option>

                        </select>
                        <span id="whoseDefault_Error"></span>

                    </div>
                    <div class="col text-start">
                        <select class="form-select" id="eotDueTo">
                            <option value="0" selected>Select EOT Due To</option>
                            <option value="Due to Reason 1">Due to Reason 1</option>
                            <option value="Due to Reason 2">Due to Reason 2</option>
                            <option value="Due to Reason 3">Due to Reason 3</option>
                            <option value="4">Other</option>

                        </select>
                        <span id="eotDueTo_Error"></span>

                    </div>

                    <div class="eotDueToOtherReasonDiv col text-start">
                        <input type="text" class="form-control" id="eotDueToOtherReason" />
                        <span id="eotDueToOtherReason_Error"></span>

                    </div>
                    <div class="col text-start">
                        <select class="form-select" id="eotClaimingStage">
                            <option value="0" selected>Select EOT Claiming for stage</option>
                            <option value="One">One</option>
                            <option value="Two">Two</option>
                            <option value="Three">Three</option>
                        </select>
                        <span id="eotClaimingStage_Error"></span>

                    </div>
                    <div class="col text-start">
                        &nbsp;&nbsp;&nbsp; <i class="bi bi-eye-fill fs-4" style="color: #007bff;"></i> &nbsp;&nbsp;&nbsp; &nbsp;
                        <i class=" bi bi-download fs-4" style="color: #007bff;"></i>
                    </div>
                    <!--<div class="col text-start">-->
                    @*<button class="form-control btn btn-primary" id="lastDprDeliverable">*@
                    @*</button>*@
                    <!--</div>-->
                </div>



                @* below div represents labels for
                    Delay From
                    Delay To
                    No. of Delay Days
                    Number of Days Extension applied by Consultant*@
                <div class="row mb-0">
                    <div class="col text-start align-content-md-end">
                        <label for="briefReason" class="form-label">
                            Delay From
                        </label>
                    </div>
                    <div class="col text-start align-content-md-end">
                        <label for="briefReason" class="form-label">
                            Delay To
                        </label>
                    </div>
                    <div class="col text-start align-content-md-end">
                        <label for="briefReason" class="form-label">
                            No. of Delay Days
                        </label>
                    </div>
                    <div class="col text-start">
                        <label for="briefReason" class="form-label">
                            Number of Days Extension applied by Consultant
                        </label>
                    </div>
                </div>


                @* below div represents date picker, textbox
                    Delay From
                    Delay To
                    No. of Delay Days
                    Number of Days Extension applied by Consultant*@
                <div class="row mb-5">
                    <div class="col text-start">
                        <input type="date" class="form-control" id="delayFrom" />
                        <span id="delayFrom_Error"></span>
                    </div>
                    <div class="col text-start">
                        <input type="date" class="form-control" id="delayTo" />
                        <span id="delayTo_Error"></span>

                    </div>
                    <div class="col text-start">
                        <input type="text" class="form-control" id="noofdelaydays" disabled />
                    </div>
                    <div class="col text-start">
                        <input type="text" class="form-control" id="noofdaysextension" />
                        <span id="noofdaysextension_Error"></span>

                    </div>
                </div>


                @* below div represents label : Will you be able to absorb the delay and YES NO Radio Button*@
                <div class="row mb-4">
                    <div class="col-4 text-start">
                        <label>
                            Will you be able to absorb the delay
                        </label>

                    </div>
                    <div class="col-1 text-start">
                        <div>
                            <input class="form-check-input" type="radio" name="is_absorb_delay" id="is_absorb_delay" value="Yes" aria-label="...">Yes
                        </div>
                    </div>
                    <div class="col-1 text-start">
                        <div>
                            <input class="form-check-input" type="radio" name="is_absorb_delay" id="is_absorb_delay" value="No" aria-label="..." checked="checked">No
                        </div>
                    </div>
                </div>


                @* below div represents label : Is advance Notice given to NHIDCL for Delay and YES NO Radio Button*@

                <div class="row mb-4">
                    <div class="col-4 text-start">
                        <label>
                            Is advance Notice given to NHIDCL for Delay

                        </label>

                    </div>
                    <div class="col-1 text-start">
                        <div>
                            <input class="form-check-input is_advance_notice" type="radio" name="is_advance_notice" id="is_advance_notice1" value="Yes" aria-label="...">Yes
                        </div>
                    </div>
                    <div class="col-1 text-start">
                        <div>
                            <input class="form-check-input is_advance_notice" type="radio" name="is_advance_notice" id="is_advance_notice2" value="No" aria-label="..." checked="checked">No
                        </div>
                    </div>
                </div>

                @* if above notice given radio button is yes then below two fields will open
                            Date of Notice  -- > label and date picker
                    Upload Notice ---> input type file
                *@
                <div class="ifNoticegiven">
                    <div class="row mb-4 justify-content-start">
                        <div class="col-2 text-start">
                            <label>
                                Date of Notice
                            </label>

                        </div>
                        <div class="col-3 text-start">
                            <input type="date" placeholder="yyyy-mm-dd" class="form-control" id="dateOfNotice" />
                            <span id="dateOfNotice_Error"></span>

                        </div>

                        <div class="col-2 text-start">
                            <label>
                                Upload Notice
                            </label>

                        </div>
                        <div class="col-3 text-start">
                            <input type="file" class="form-control" id="uploadNotice" />
                            <span id="uploadNotice_Error"></span>

                        </div>
                    </div>
                </div>


                @* below div represents label : Is the DPR Consultant applicable for additional cost due to this delay
                    and YES NO Radio Button  *@

                <div class="row mb-4 ">
                    <div class="col-6 text-start">
                        <label>
                            Is the DPR Consultant applicable for additional cost due to this delay

                        </label>

                    </div>
                    <div class="col-1 text-start">
                        <div>
                            <input class="form-check-input is_additionalCost" type="radio" name="is_additionalCost" id="is_additionalCost" value="Yes" aria-label="..."> Yes
                        </div>
                    </div>
                    <div class="col-1 text-start">
                        <div>
                            <input class="form-check-input is_additionalCost" type="radio" name="is_additionalCost" id="is_additionalCost" value="No" aria-label="..." checked="checked"> No
                        </div>
                    </div>
                </div>

                @* if above radio button is YES Then below Textbox will apear
                    label and textbox  for :Tentative Compensation Amount (in Cr.)
                *@


                <div class="ifapplicableforcost">
                    <div class="row mb-4">
                        <div class="col-4 text-start">
                            <label>
                                Tentative Compensation Amount (in Cr.)
                            </label>

                        </div>
                        <div class="col-3 text-start">
                            <input class="form-control" type="text" id="compensation_amount">
                            <span id="compensation_amount_Error"></span>
                        </div>


                    </div>

                </div>



                @* below div represents labels
                    Relevant Clause No. as per Contract
                    EOT No.
                    Upload Detailed Proposal with justification
                    Application Date *@
                <div class="row mb-1">
                    <div class="col align-content-md-end text-start">
                        Relevant Clause No. as per Contract

                    </div>
                    <div class="col align-content-md-end text-start">
                        EOT No.

                    </div>
                    <div class="col align-content-md-end text-start">
                        Upload Detailed Proposal with justification   

                    </div>
                    <div class="col align-content-md-end text-start">
                        Application Date

                    </div>
                </div>

                @* below div represents textbox , file upload auto filling EOT NO  and todays date default
                    Relevant Clause No. as per Contract
                    EOT No.
                    Upload Detailed Proposal with justification
                    Application Date *@
                <div class="row mb-3 justify-content-start">
                    <div class="col text-start">
                        <input type="text" class="form-control" id="clause_no" />
                        <span id="clause_no_Error"></span>

                    </div>
                    <div class="col text-start">
                        <input type="text" class="form-control" id="eot_no" disabled />

                    </div>
                    <div class="col text-start">
                        <input type="file" class="form-control" id="detailed_proposal" />
                        <span id="detailed_proposal_Error"></span>

                    </div>
                    <div class="col text-start">
                        <input type="text" class="form-control" style="text-align: center;" id="application_date" disabled />



                    </div>
                </div>


                @* submit and reset option *@
                <div class="row mb-4 justify-content-end">

                    <div class="col-1">
                        <div>
                            <button type="reset" id="resetBtn" class="btn btn-danger">Cancel</button>

                        </div>
                    </div>
                    <div class="col-1">
                        <div>
                            <button type="button" id="submitBtn" class="btn btn-primary" disabled>Submit</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>





<script src="~/Content/custome_js/EOTForm_Apis.js"></script>
<script src="~/Content/custome_js/DateCustomeFunctions.js"></script>
<script src="~/Content/custome_js/EotFormEvents.js"></script>

<script>
    $(document).ready(function () {
        $("#application_date").val(getTodaysDate());
    });
</script>


